

<h1>Pandas</h1>
pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

import pandas library and other related libraries

In [2]:
from pandas import DataFrame, read_csv
# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number

<h1>Learning objective</h1> 

We will use an example from a real research project and use **Python pandas** to walk through steps that social scientists usually take to handle a raw data.

## Data example

We are going to use an example data retrieved from Stack Overflow.

Stack Overflow is a question and answer website. Users can ask and answer questions related to programming. Here is an example question and all the answers:

https://stackoverflow.com/questions/4/how-to-convert-a-decimal-to-a-double-in-c

Stack Overflow data is publicly available, which allows researchers to observe user behavior in the community.

Here is an overview of the data schema:

https://meta.stackexchange.com/questions/2677/database-schema-documentation-for-the-public-data-dump-and-sede


<h1>Import csv data</h1>

To pull in the csv file, we will use the pandas function *read_csv*. Let us take a look at this function and what inputs it takes.

In [3]:
read_csv?

Common parameters in **read_csv**

read_csv(filepath, sep= , header= , usecols=None)

- filepath_or_buffer : str, path object or file-like object
   
- sep : str, default ','
    
- header : int, list of int
 - Row number(s) to use as the column names, and the start of the data.  
    
- names : array-like, optional
 - List of column names to use, if the file contains a header row
   
- usecols : list-like or callable
 - Return a subset of the columns. 
 - For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving so_question.csv to so_question.csv

In [ ]:
!rm so_question.csv

rm: cannot remove 'so_question.csv': No such file or directory

In [ ]:
#import in colab environment
import io
df = pd.read_csv(io.BytesIO(uploaded['so_question.csv']))

In [ ]:
#import from local drive
Location = r'G:\My Drive\CCSS\so_question.csv'
df = pd.read_csv(Location, header=None)

In [ ]:
df

      9  2008-07-31 23:40:59          .net  2008  7     1404     1
0    39  2008-08-01 12:43:11          .net  2008  8     45.0  33.0
1    14  2008-08-01 00:59:11          .net  2008  8      NaN  11.0
2   104  2008-08-01 15:12:34          .net  2008  8    112.0  39.0
3    59  2008-08-01 13:14:33      .net-3.5  2008  8      NaN  45.0
4    66  2008-08-01 13:20:46      .net-3.5  2008  8   4521.0  17.0
..  ...                  ...           ...   ... ..      ...   ...
94   88  2008-08-01 14:36:18    visual-c++  2008  8     98.0  61.0
95   16  2008-08-01 04:59:33  web-services  2008  8  12446.0   2.0
96   88  2008-08-01 14:36:18        winapi  2008  8     98.0  61.0
97  108  2008-08-01 15:22:29       windows  2008  8    111.0  72.0
98   25  2008-08-01 12:13:50           zos  2008  8      NaN  23.0

[99 rows x 7 columns]

This brings us to the first problem of the exercise. The **read_csv** function treated the first record in the csv file as the header names. This is obviously not correct since the text file did not provide us with header names.

To correct this we will pass the **header** parameter to the read_csv function and set it to **None** (means null in python).

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['so_question.csv']), header=None)
df

      0                    1             2     3  4        5     6
0     9  2008-07-31 23:40:59          .net  2008  7   1404.0   1.0
1    39  2008-08-01 12:43:11          .net  2008  8     45.0  33.0
2    14  2008-08-01 00:59:11          .net  2008  8      NaN  11.0
3   104  2008-08-01 15:12:34          .net  2008  8    112.0  39.0
4    59  2008-08-01 13:14:33      .net-3.5  2008  8      NaN  45.0
..  ...                  ...           ...   ... ..      ...   ...
95   88  2008-08-01 14:36:18    visual-c++  2008  8     98.0  61.0
96   16  2008-08-01 04:59:33  web-services  2008  8  12446.0   2.0
97   88  2008-08-01 14:36:18        winapi  2008  8     98.0  61.0
98  108  2008-08-01 15:22:29       windows  2008  8    111.0  72.0
99   25  2008-08-01 12:13:50           zos  2008  8      NaN  23.0

[100 rows x 7 columns]

If we wanted to give the columns specific names, we would have to pass another parameter called **names**. We can also omit the header parameter.

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['so_question.csv']), names=['id', 'creation_time', 'tag', 'year','month', 'accepted_id','owner_user_id'])
df

     id        creation_time           tag  ...  month  accepted_id  owner_user_id
0     9  2008-07-31 23:40:59          .net  ...      7       1404.0            1.0
1    39  2008-08-01 12:43:11          .net  ...      8         45.0           33.0
2    14  2008-08-01 00:59:11          .net  ...      8          NaN           11.0
3   104  2008-08-01 15:12:34          .net  ...      8        112.0           39.0
4    59  2008-08-01 13:14:33      .net-3.5  ...      8          NaN           45.0
..  ...                  ...           ...  ...    ...          ...            ...
95   88  2008-08-01 14:36:18    visual-c++  ...      8         98.0           61.0
96   16  2008-08-01 04:59:33  web-services  ...      8      12446.0            2.0
97   88  2008-08-01 14:36:18        winapi  ...      8         98.0           61.0
98  108  2008-08-01 15:22:29       windows  ...      8        111.0           72.0
99   25  2008-08-01 12:13:50           zos  ...      8          NaN           23.0

[100 rows x 7 columns]

You can think of the numbers [0,1,2,3,4] as the row numbers in an Excel file. In pandas these are part of the index of the dataframe. You can think of the **index** as the primary key of a sql table with the exception that an index is allowed to have duplicates.

## Prepare Data

The data we have consists of question id, creation date and time, accepted answer id and asker id.

As some questions don't have accepted answers yet, there are **missing values** in the data.

Let's first check the data type of each columns

In [ ]:
# Check data type of the columns
#object???
df.dtypes

id                 int64
creation_time     object
tag               object
year               int64
month              int64
accepted_id      float64
owner_user_id    float64
dtype: object

In [ ]:
# Check data type of a specific column
df.accepted_id.dtype

dtype('float64')

check the number of observations

In [ ]:
len(df.index)

100

check the number of variables (columns)

In [ ]:
len(df.columns)

7

## Slicing and Indexing
Let's first slice by columns

In [ ]:
df[['id', 'creation_time']]

     id        creation_time
0     9  2008-07-31 23:40:59
1    39  2008-08-01 12:43:11
2    14  2008-08-01 00:59:11
3   104  2008-08-01 15:12:34
4    59  2008-08-01 13:14:33
..  ...                  ...
95   88  2008-08-01 14:36:18
96   16  2008-08-01 04:59:33
97   88  2008-08-01 14:36:18
98  108  2008-08-01 15:22:29
99   25  2008-08-01 12:13:50

[100 rows x 2 columns]

Slice by rows

In [ ]:
df[4:5]

   id        creation_time       tag  year  month  accepted_id  owner_user_id
4  59  2008-08-01 13:14:33  .net-3.5  2008      8          NaN           45.0

get question id in the 5th row

In [ ]:
df[['id']][4:5]

   id
4  59

## Excersize 1

What is the tag of the 50th question in the data set?

In [ ]:
df[['tag']][49:50]

     tag
49  html

## Analyze Data

To find the most popular name or the baby name with the higest birth rate, we can do one of the following.

- Sort the dataframe and select the top row
- Use the min() attribute to find the min value

In [ ]:
# Method 1:
Sorted = df.sort_values(['creation_time'], ascending=True)
Sorted.head(1)

    id        creation_time              tag  ...  month  accepted_id  owner_user_id
90   4  2008-07-31 21:42:52  type-conversion  ...      7          7.0            8.0

[1 rows x 7 columns]

In [ ]:
# Method 2:
df['creation_time'].min()

'2008-07-31 21:42:52'

In [ ]:
df['tag'].unique()

array(['.net', '.net-3.5', '64-bit', 'actionscript-3', 'air', 'algorithm',
       'apache-flex', 'aptana', 'architecture', 'arrays', 'binary-data',
       'branch', 'branching-and-merging', 'browser', 'c', 'c#', 'c++',
       'com-interop', 'css', 'data-storage', 'database', 'datatable',
       'datediff', 'datetime', 'decimal', 'double', 'eclipse',
       'file-type', 'flat-file', 'floating-point', 'form-submit', 'forms',
       'hook', 'html', 'internet-explorer-7', 'language-agnostic', 'linq',
       'linux', 'mainframe', 'math', 'memory-leaks', 'mime', 'mysql',
       'office-2007', 'performance', 'php', 'pi', 'plugins', 'rdbms',
       'rdoc', 'relative-time-span', 'ruby', 'sockets', 'sql',
       'sql-server', 'subclipse', 'submit-button', 'svn', 'time', 'timer',
       'timezone', 'timezone-offset', 'tortoisesvn', 'triggers',
       'type-conversion', 'unix', 'user-agent', 'vb.net', 'visual-c++',
       'web-services', 'winapi', 'windows', 'zos'], dtype=object)

## Exercise 2

- How do you know the time period of this data set (earliest and latest question asked)?

In [ ]:
df['creation_time'].max()

'2008-08-01 15:22:29'

Now let's check questions are asked by certain user

In [ ]:
df.loc[df['owner_user_id'] == 8]

    id        creation_time              tag  ...  month  accepted_id  owner_user_id
24   4  2008-07-31 21:42:52               c#  ...      7          7.0            8.0
39   4  2008-07-31 21:42:52          decimal  ...      7          7.0            8.0
40   4  2008-07-31 21:42:52           double  ...      7          7.0            8.0
44   4  2008-07-31 21:42:52   floating-point  ...      7          7.0            8.0
90   4  2008-07-31 21:42:52  type-conversion  ...      7          7.0            8.0

[5 rows x 7 columns]

## Modify the data
change values for certain variables

In [ ]:
# Convert .net to net
tag = df.tag == '.net'
df['tag'][tag] = 'net'
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     id        creation_time           tag  ...  month  accepted_id  owner_user_id
0     9  2008-07-31 23:40:59           net  ...      7       1404.0            1.0
1    39  2008-08-01 12:43:11           net  ...      8         45.0           33.0
2    14  2008-08-01 00:59:11           net  ...      8          NaN           11.0
3   104  2008-08-01 15:12:34           net  ...      8        112.0           39.0
4    59  2008-08-01 13:14:33      .net-3.5  ...      8          NaN           45.0
..  ...                  ...           ...  ...    ...          ...            ...
95   88  2008-08-01 14:36:18    visual-c++  ...      8         98.0           61.0
96   16  2008-08-01 04:59:33  web-services  ...      8      12446.0            2.0
97   88  2008-08-01 14:36:18        winapi  ...      8         98.0           61.0
98  108  2008-08-01 15:22:29       windows  ...      8        111.0           72.0
99   25  2008-08-01 12:13:50           zos  ...      8          NaN           23.0

[100 rows x 7 columns]

## Exercise 3 (work in progress)

How many questions tagged as 'net' are there?

In [ ]:
df.loc[df['tag'] == '.net']

    id        creation_time   tag  year  month  accepted_id  owner_user_id
0    9  2008-07-31 23:40:59  .net  2008      7       1404.0            1.0
1   39  2008-08-01 12:43:11  .net  2008      8         45.0           33.0
2   14  2008-08-01 00:59:11  .net  2008      8          NaN           11.0
3  104  2008-08-01 15:12:34  .net  2008      8        112.0           39.0